.button {
  border: 1px solid transparent;
  height: 46px;
  border-radius: 6px;
  padding: 10px;
  min-width: 145px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 700;
  transition: all 0.4s ease;

  &.primary {
    background: #127C95;
    color: #fff;

    &:hover {
      background: none;
      color: #127C95;
      border-color: #127C95;
    }
  }

  &.outline {
    border-color: #127C95;
    color: #127C95;
    background: none;

    &:hover {
      background: #127C95;
      color: #fff;
    }
  }
}